<?xml version="1.0"?>
<launch>

    <param name="robot_description" textfile="$(find robot)/urdf/robot.urdf"/> <!--Chay file robot.urdf-->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" /> <!--Node publish common state-->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" /> <!--Node publish robot state-->
    <node pkg="rviz" type="rviz" name="rviz" args= "-d $(find robot)/rviz/config.rviz"/> <!--run rviz-->
</launch>